<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h2 class="title">
        質問一覧
      </h2>
    </div>
  </div>
</section>

<% @comments.each do |comment| %>
  <%= comment.created_at %>
  <%= comment.manual.task_name %>
  <%= link_to admin_comment_path(comment.id) do %>
    <%= comment.comment %>
  <% end %>
  <%= comment.is_desolved %>
  <%= link_to "削除する", admin_comment_path(comment.id), method: :delete, data: {confirm: "本当に削除してよろしいですか？"} %><br>
<% end %>
