<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h2 class="title">
        <%= @employee.name %>さんの「<%= @manual.task_name %>」への質問と返信
      </h2>
    </div>
  </div>
</section>

<%= video_tag rails_blob_path(@manual.video, disposition: "atattchment"), :controls => true, :autoplay => true, :muted => true, :size => "200" %><br>
<%= @employee.name %>
<%= @comment.created_at.strftime("%Y年%m月%d日") %><br>
<%= @comment.comment %><br>

<% @return_comments.each do |return_comment| %>
  <%= return_comment.employee.name %>
  <%= return_comment.created_at.strftime("%Y年%m月%d日") %><br>
  <%= return_comment.return_comment %><%= link_to "削除する", admin_return_comment_path(return_comment.id),method: :delete, data: {confirm: "本当に削除していいですか？"} %><br>
<% end %>

<% if @comment.is_desolved == false %>
  <button class="button is-danger is-small ">
    <span class="icon">
      <i class="fas fa-question"></i>
    </span>
    <span>未解決</span>
  </button>
<% else %>
  <button class="button is-success is-small ">
    <span class="icon">
      <i class="fas fa-check"></i>
    </span>
    <span>解決済み</span>
  </button>
<% end %>
