<section class="hero is-warning">
  <!-- Hero head: will stick at the top -->
  <div class="hero-body">
    <nav class="navbar", role="navigation", aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand  columns is-desktop">
          <div class ="title column is-marginless">
            マニュアル一覧
          </div>
          <div class="column navbar-end">
            <%= link_to new_admin_manual_path,method: :get, class: "button is-primary is-inverted" do %>
            <span class="column navbar-end">
              <i class="fa fa-camera"></i>
            </span>
            <span>マニュアル新規作成</span>
            <% end%>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">

        <table class="table">
          <thead class="bg-light">
            <tr>
              <th>業務</th>
              <th>タスク</th>
              <th>更新日</th>
            </tr>
          </thead>
          <% @manuals.each do |manual| %>
          <tbody>
            <tr>
              <td><%= manual.genre.name %></td>
              <td>
                <%= link_to admin_manual_path(manual.id) do %>
                <%= manual.task_name %>
                <% end %>
              </td>
              <td><%= manual.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
            </tr>
          </tbody>
          <% end %>
        </table>

      </div>
    </div>
  </div>
</section>
