<section class="hero is-warning">
  <!-- Hero head: will stick at the top -->
  <div class="hero-body">
    <nav class="navbar", role="navigation", aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand  columns is-desktop">
          <div class ="is-size-5-mobile column is-marginless">
            マニュアル一覧
          </div>
          <div class="column navbar-end">
            <%= link_to new_admin_manual_path,method: :get, class: "button is-primary is-inverted", data: {"turbolinks" => false} do %>
            <span class="column navbar-end">
              <i class="fa fa-camera"></i>
            </span>
            <span>マニュアル新規作成</span>
            <% end%>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6 is-size-7-mobile">

        <table class="table is-striped is-fullwidth">
          <thead class="bg-light">
            <tr>
              <th>業務</th>
              <th>タスク</th>
              <th>更新日</th>
              <th>投稿</th>
            </tr>
          </thead>
          <% @manuals.each do |manual| %>
          <tbody>
            <tr>
              <td><%= manual.genre.name %></td>
              <td>
                <%= link_to admin_manual_path(manual.id), data: {"turbolinks" => false} do %>
                <%= manual.task_name %>
                <% end %>
              </td>
              <td><%= manual.updated_at.strftime("%Y/%m/%d") %></td>
              <td>
                <% if manual.is_draft == true %>
                  <span class="has-text-danger">
                    未
                  </span>
                <% else %>
                  <span class="has-text-primary">
                    済
                  </span>
                <% end %>
              </td>
            </tr>
          </tbody>
          <% end %>
        </table>

      </div>
    </div>
  </div>
</section>
