<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h2 class="title">
        マニュアル一覧
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">

        <table class="table">
          <thead class="bg-light">
            <tr>
              <th>ID</th>
              <th>ジャンル</th>
              <th>業務名</th>
              <th>更新日</th>
            </tr>
          </thead>
          <% @manuals.each do |manual| %>
          <tbody>
            <tr>
              <td><%= manual.id %></td>
              <td>
                <%= link_to admin_employee_path(employee.id) do %>
                <%= employee.name %>
                <% end %>
              </td>
              <td><%= employee.telephone_number %></td>
              <% if employee.is_deleted == true %>
              <td class="text-secondary">
                <%= employee.is_deleted %>
              </td>
              <% else %>
              <td class="text-success">
                <%= employee.is_deleted %>
              </td>
              <% end %>
            </tr>
          </tbody>
          <% end %>
        </table>

      </div>
    </div>
  </div>
</section>
