<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h2 class="title">
        マニュアル登録
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">

        <%= form_with model: @manual, url: admin_manuals_path, method: :post do |f| %>
        <%= render "layouts/error_messages", resource: @manual %>

          <div class="field">
            <%= f.label :動画, class: "label" %>
            <%= f.file_field :video %>
          </div>

          <div class="field">
            <%= f.label :業務名, class: "label" %>
            <%= f.select :genre_id, options_from_collection_for_select(@genres, :id, :name) %>
          </div>

          <div class="field">
            <%= f.label :タスク名, class: "label" %>
            <p>
              <%= f.text_field :task_name, autofocus: true, autocomplete: "task_name", :placeholder => "例:　レジ精算の操作方法　|　日報の書き方", class: "input" %>
            </p>
          </div>

          <div class="field">
            <%= f.label :説明文, class: "label" %>
            <p>
              <%= f.text_area :description, autofocus: true, autocomplete: "description", :placeholder => "例:　レジ精算の時に出てくるレシートは捨てないでください　｜　日報を書いたら間違いがないかチェックをすること", class: "textarea", rows:"3" %>
            </p>
          </div>

          <div class="field">
            <%= f.radio_button :is_draft, "true" %>
            <%= f.label :is_draft, "下書き" %>
            <%= f.radio_button :is_draft, "false" %>
            <%= f.label :is_draft, "投稿" %><br>
          </div>

          <div class="action">
            <%= f.submit "新規登録", class: "button is-small is-success" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</section>
