<h1>Public::Employees#edit</h1>
<p>Find me in app/views/public/employees/edit.html.erb</p>

<%= @employee.id %><br>
<%= @employee.name %><br>
<%= @employee.telephone_number %><br>
<%= @employee.is_deleted %><br>

<% @comments.each do|comment| %>
  <%= comment.created_at.strftime("%Y年%m月%d日") %><br>
  <%= comment.manual.task_name %><br>
  <%= comment.comment %><br>
  <%= comment.is_desolved %><br>
<% end %>