<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h2 class="is-size-5-mobile is-centered">
        従業員情報編集
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6 is-size-7-mobile">
        <%= form_with model: @employee, url: admin_employee_path, method: :patch do |f| %>
        <div class="field">
          <%= f.label :name, class: "label" %>
          <p class="control has-icons-left">
            <%= f.text_field :name, autofocus: true, autocomplete: "email", :placeholder => "name", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :telephone_number, class: "label" %>
          <p class="control has-icons-left">
            <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", :placeholder => "telephone_number", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-phone"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :email, class: "label" %>
          <p class="control has-icons-left">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>

        <div class="actions">
          <%= f.submit "　更新　", class: "button is-success" %>
          <%= link_to "　削除　", admin_employee_path, method: :delete, data: {confirm: "本当に削除してよろしいですか？"}, class: "button is-danger"%>
        </div>
        <% end %>

      </div>
    </div>
  </div>
</section>