<section class="hero is-warning">
  <!-- Hero head: will stick at the top -->
  <div class="hero-body">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <span class ="title">
            マニュアル一覧
          </span>
          <!--<a class="navbar-item">-->
          <!--  楽ま～にゅ-->
          <!--</a>-->
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <!--<a class="navbar-item is-active">-->
            <!--  Home-->
            <!--</a>-->
            <!--<a class="navbar-item">-->
            <!--  Examples-->
            <!--</a>-->
            <!--<a class="navbar-item">-->
            <!--  Documentation-->
            <!--</a>-->
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">

        <%= form_with url: public_manuals_path, local: true, method: :get do |f| %>
          <%= f.label :キーワード検索 %>
          <%= f.text_field :keyword %>
          <%= f.submit "検索" %>
        <% end %>
        <%= form_with url: public_manuals_path, local: true, method: :get do |f| %>
          <%= f.label :登録ジャンルから検索 %>
          <%= f.select :keyword, Genre.all.map { |genre| [genre.name, genre.name] } %>
          <%= f.submit "検索" %>
        <% end %>
        <p>検索結果
          <% if @keyword == Genre.all %>
            <span>”オール"</span>
          <% else %>
            "<%= @keyword %>"
          <% end %>
        </p>
        <table class="table">
          <thead class="bg-light">
            <tr>
              <th>ID</th>
              <th>ジャンル</th>
              <th>業務名</th>
              <th>更新日</th>
            </tr>
          </thead>
          <% @genres.each do |genre| %>
            <% genre.manuals.each do |manual| %>
            <tbody>
              <tr>
                <td><%= manual.id %></td>
                <td><%= manual.genre.name %></td>
                <td>
                  <%= link_to public_manual_path(manual.id) do %>
                  <%= manual.task_name %>
                  <% end %>
                </td>
                <td><%= manual.updated_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
              </tr>
            </tbody>
            <% end %>
          <% end %>
        </table>

      </div>
    </div>
  </div>
</section>
