<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h2 class="is-size-5-mobile">
        マニュアル一覧
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6 is-size-7-mobile">

        <div class="field">
          <%= form_with url: public_manuals_path, local: true, method: :get do |f| %>
            <%= f.label :"業務名検索：キーワード or 登録情報から", class: "label" %>
            <%= f.text_field :keyword, placeholder: "すべて" %>
            <%= f.submit "検索", class: "button is-small is-success" %>
          <% end %>
        </div>
        <div class="field">
          <%= form_with url: public_manuals_path, local: true, method: :get do |f| %>
            <%= f.select :keyword, Genre.all.map { |genre| [genre.name, genre.name] } %>
            <%= f.submit "検索", class: "button is-small is-success" %>
          <% end %>
        </div>

        <div class="field">
          <p>
            <% if @keyword == Genre.all %>
              <span>すべて</span>
            <% else %>
              "<%= @keyword %>"
            <% end %>
            の検索結果
          </p>
        </div>

        <table class="table is-striped is-fullwidth">
          <thead class="bg-light">
            <tr>
              <th>業務</th>
              <th>タスク</th>
              <th>更新日</th>
              <th>習得</th>
            </tr>
          </thead>
          <% @genres.each do |genre| %>
            <% genre.manuals.each do |manual| %>
              <% if manual.is_draft == false %>
                <tbody>
                  <tr>
                    <td><%= manual.genre.name %></td>
                    <td>
                      <%= link_to public_manual_path(manual.id), data: {"turbolinks" => false} do %>
                      <%= manual.task_name %>
                      <% end %>
                    </td>
                    <td><%= manual.updated_at.strftime("%Y/%m/%d") %></td>
                    <td>
                      <% if manual.learned?(current_employee) %>
                        <span class="has-text-primary">
                          済
                        </span>
                      <% else %>
                        <span class="has-text-danger">
                          未
                        </span>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              <% else %>
              <% end %>
            <% end %>
          <% end %>
        </table>

      </div>
    </div>
  </div>
</section>
