<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h2 class="title">
        マニュアル：　<%= @manual.task_name %>
      </h2>
    </div>
  </div>
</section>
<%= render 'layouts/error_messages', resource: @comment %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">

        <div class="field">
          <%= video_tag rails_blob_path(@manual.video, disposition: "atattchment"), :controls => true, :autoplay => true, :muted => true, :size => "200" %>
          <% if @manual.video.representable? %>
            <%= video_tag  @manual.video.representation(resize_to_limit: [100, 100]) %>
          <% else %>
            <!--ダウンロードリンク-->
            <%= link_to rails_blob_path(@manual.video, disposition: "attachment") do %>
              <%= image_tag "download.png", alt: "Download file", :size => "100", :class => "fa fa-download" %>
            <% end %>
          <% end %>
        </div>

        <div class="field">
          <span class ="is-bold">
            業務名：
          </span>
          <%= @manual.genre.name %>
        </div>

        <div class="field">
          <span class ="is-bold">
            タスク名：
          </span>
          <%= @manual.task_name %>
        </div>

        <div class="field">
          <span class ="is-bold">
            説明文：
          </span>
          <%= @manual.description %>
        </div>


        <%= form_with model: @comment, url: public_manuals_path, method: :post do |f| %>
          <%= f.hidden_field :manual_id %>
          <div class="field">
          <%= f.label :comment, "質問内容", class: "label" %>
          <%= f.text_area :comment, autofocus: true, autocomplete: "comment", :placeholder => "例:　〇〇のやり方がわからない", class: "input", row: "3" %>
          </div>
          <div class="field">
            <%= f.submit "質問を投稿", class: "button is-success" %>
          </div>
        <% end %>

        <div class="mt-3 mb-3">
          <span>質問：<%= @comments.count %>件</span>
          <span>習得人数：
          <%= link_to public_is_learned_manual_learnings_path do %>
            <span class="is-underlined">
              <%= @learnings.count %>人
            </span>
          <% end %>
          </span>
          <span class="ml-3">
            <% if @manual.learned?(current_employee) %>
              <%= link_to public_manual_learnings_path(@manual.id), class: "button is-small is-primary", method: :delete do %>
                習得済み！
              <% end %>
            <% else %>
              <%= link_to public_manual_learnings_path(@manual.id), class: "button is-primary is-small is-outlined", method: :post do %>
                習得！
              <% end %>
            <% end %>
          </span>
        </div>

        <% @comments.each do |comment| %>
          <div class="field">
          <i class="fa fa-user"></i><%= comment.employee.name %>
          <span class="has-text-info"><%= comment.created_at.strftime("%Y/%m/%d/%H:%M") %></span>
          <%= link_to public_comment_path(comment.id) do %>
            <i class="fa fa-edit"></i><br>
          <% end %>
          <strong class="ml-3"><%= comment.comment %></strong><br>
          <%= link_to "この質問に返信する", public_show_comments_employee_path(comment.id), class: "ml-3" %><br>
          </div>
        <% end %>


      </div>
    </div>
  </div>
</section>
