<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h2 class="title">
        <% if @manual.learned?(current_employee) %>
          <span class="has-text-success">
            習得済み！
          </span><br>
        <% else %>
        <% end %>
        <%= @manual.genre.name %>： <%= @manual.task_name %>
      </h2>
    </div>
  </div>
</section>
<%= render 'layouts/error_messages', resource: @comment %>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-size-7-mobile">

        <div class="field has-text-centered">
          <%= video_tag rails_blob_path(@manual.video, disposition: "atattchment"),:autopictureinpicture => true, :playsinline => true, :controls => true, :autoplay => true, :muted => true, :size => "200" %>
          <%= link_to rails_blob_path(@manual.video, disposition: "attachment"), data: {"turbolinks" => false} do %>
            <%= image_tag "download.png", alt: "Download file", :size => "100", :class => "fa fa-download" %>
          <% end %>
        </div>

        <div class="field">
          <span class ="is-bold">
            業務名：
          </span>
          <%= @manual.genre.name %>
        </div>

        <div class="field">
          <span class ="is-bold">
            タスク名：
          </span>
          <%= @manual.task_name %>
        </div>

        <div class="field">
          <span class ="is-bold">
            説明文：
          </span>
          <%= @manual.description %>
        </div>


        <%= form_with model: @comment, url: public_manuals_path, method: :post do |f| %>
          <%= f.hidden_field :manual_id %>
          <div class="field">
          <%= f.label :comment, "質問：", class: "label" %>
          <%= f.text_area :comment, autofocus: true, autocomplete: "comment", :placeholder => "例:　〇〇のやり方がわからない", class: "input", row: "3" %>
          </div>
          <div class="field">
            <%= f.submit "質問を投稿", class: "button is-success" %>
          </div>
        <% end %>

        <div class="mt-3 mb-3">
          <span class="has-text-centered">質問：<%= @comments.count %>件</span>
          <span>　習得人数：
          <%= link_to public_is_learned_manual_learnings_path, data: {"turbolinks" => false} do %>
            <span class="is-underlined ">
              <%= @learnings.count %>人
            </span>
          <% end %>
          </span>
          <span class="ml-3">
            <% if @manual.learned?(current_employee) %>
              <%= link_to public_manual_learnings_path(@manual.id), class: "button is-small is-primary", method: :delete, data: {"turbolinks" => false} do %>
                習得済み！
              <% end %>
            <% else %>
              <%= link_to public_manual_learnings_path(@manual.id), class: "button is-primary is-small is-outlined", method: :post, data: {"turbolinks" => false} do %>
                習得！
              <% end %>
            <% end %>
          </span>
        </div>

        <% @comments.each do |comment| %>
          <div class="field">
            <i class="fa fa-user"></i>
            <%= comment.employee.name %>
            <span class="has-text-info">
              <%= comment.created_at.strftime("%Y/%m/%d/%H:%M") %>
            </span>
            <% if comment.employee_id == current_employee.id %>
              <%= link_to public_comment_path(comment.id), data: {"turbolinks" => false} do %>
                <i class="fa fa-edit"></i>
              <% end %>
            <% end %>
            <% if comment.is_desolved == true %>
              <span class="has-text-primary">
                ～解決済み～
              </span>
            <% else %>
              <span class="has-text-danger">
                ～未解決～
              </span>
            <% end %><br>
            <strong class="ml-3"><%= comment.comment %></strong>
            <% if comment.updated_at != comment.created_at %>
              <span class="is-size-7-desktop has-text-grey">※編集済み</span>
            <% end %><br>
            <%= link_to "この質問に返信する", public_show_comments_employee_path(comment.id), class: "ml-3", data: {"turbolinks" => false} %><br>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</section>
