<%= render 'layouts/error_messages', resource: @comment %>

<%= video_tag rails_blob_path(@manual.video, disposition: "atattchment"), :controls => true, :autoplay => true, :muted => true, :size => "200" %>
<%= @manual.genre.name %>
<%= @manual.task_name %>
<%= @manual.description %>
<%= @manual.is_draft %>
<% if @manual.video.representable? %>
  <%= video_tag  @manual.video.representation(resize_to_limit: [100, 100]) %>
<% else %>
  <!--ダウンロードリンク-->
  <%= link_to rails_blob_path(@manual.video, disposition: "attachment") do %>
    <%= image_tag "download.png", alt: "Download file", :size => "100", :class => "fa fa-download" %>
  <% end %>
<% end %>

<%= form_with model: @comment, url: public_manuals_path, method: :post do |f| %>
  <%= f.hidden_field :manual_id %>

  <%= f.label :comment, "質問内容" %>
  <%= f.text_field :comment %><br>
  <%= f.submit %>
<% end %>

<p>質問：<%= @comments.count %>件</p>
<% @comments.each do |comment| %>
  <%= comment.employee.name %>
  <%= comment.created_at.strftime("%Y/%m/%d/%H:%M") %>
  <%= link_to "コメント編集", public_comment_path(comment.id) %><br>
  <%= comment.comment %>
  <%= link_to "返信を表示", public_show_comments_employee_path(comment.id) %><br>
<% end %>

