<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h2 class="title is-centered">
        新規登録画面
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6 is-size-7-mobile">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "employee/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :name, class: "label" %>
          <p class="control has-icons-left">
            <%= f.text_field :name, autofocus: true, autocomplete: "email", :placeholder => "name", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :telephone_number, class: "label" %>
          <p class="control has-icons-left">
            <%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", :placeholder => "telephone_number", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-phone"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :email, class: "label" %>
          <p class="control has-icons-left">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :password, class: "label" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <p class="control has-icons-left">
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", :placeholder => "password", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: "label" %>
          <p class="control has-icons-left">
            <%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", :placeholder => "password confirmation", class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "button is-success" %>
        </div>
        <% end %>

        <%= render "employee/shared/links" %>
      </div>
    </div>
  </div>
</section>
