<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h2 class="is-size-5-mobile">
        業務名編集
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6 is-size-7-mobile">

        <%= form_with model: @genre, url: admin_genre_path, method: :patch do |f| %>
          <div class="field">
            <%= f.label :name, "業務名を変更:", class: "label" %>
            <p class="control has-icons-left">
              <%= f.text_field :name, autofocus: true, autocomplete: "name", :placeholder => "例:　レジ精算", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fa fa-edit"></i>
              </span>
            </p>
          </div>

          <div class="actions">
            <%= f.submit "　更新　", class: "button is-success" %>
            <%= link_to "　削除　", admin_genre_path, data: {"turbolinks" => false}, method: :delete, data: {confirm: "本当に削除してよろしいですか？"}, class: "button is-danger" %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</section>
