<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h2 class="is-size-5-mobile">
        業務一覧
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-size-7-mobile">

        <%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
          <div class="field">
            <%= f.label :name, "業務を登録:", class: "label" %>
            <p class="control has-icons-left">
              <%= f.text_field :name, autofocus: true, autocomplete: "name", :placeholder => "例:　レジ精算", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fa fa-edit"></i>
              </span>
            </p>
          </div>

          <div class="actions">
            <%= f.submit "登録", class: "button is-success" %>
          </div>
        <% end %>

        <table class="table is-striped is-fullwidth">
          <thead class="bg-light">
            <tr>
              <th>業務</th>
            </tr>
          </thead>
          <% @genres.each do |genre| %>
            <tbody>
              <tr>
                <td>
                  <%= link_to edit_admin_genre_path(genre), data: {"turbolinks" => false} do %>
                    <span class="is-centered">
                      <span class="icon is-small is-left">
                        <i class="fas fa-edit"></i>
                      </span>
                      <%= genre.name %>
                    </span>
                  <% end %>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>

      </div>
    </div>
  </div>
</section>
