<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h2 class="title">
        <span><%= @employee.name %></span>さんの習得業務一覧
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">

        <p>従業員登録日：
          <span>
            <%= @employee.created_at.strftime("%Y/%m/%d") %><br>
          </span>
        </p>
        <p>業務取得率：
          <span>
            <%= (@employee.learnings.count.to_f/Manual.all.count.to_f*100).to_i %>%
          </span>
        </p>

        <% @manual_learnings.each do |learning| %>
          <%= learning.manual.genre.name %>
          <%= learning.manual.task_name %>
          <%= learning.created_at.strftime("%Y/%m/%d") %><br>
        <% end %>

      </div>
    </div>
  </div>
</section>
