<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h2 class="is-size-5-mobile">
        <span><%= @employee.name %></span>さんの習得業務一覧
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6 is-size-7-mobile">

        <p>従業員登録日：
          <span>
            <%= @employee.created_at.strftime("%Y/%m/%d") %><br>
          </span>
        </p>
        <p>業務取得率：
          <span>
            <%= (@employee.learnings.count.to_f/Manual.all.count.to_f*100).to_i %>%
          </span>
        </p>

        <table class="table">
          <thead class="bg-light">
            <tr>
              <th>習得日</th>
              <th>業務名</th>
              <th>タスク名</th>
            </tr>
          </thead>
          <% @manual_learnings.each do |learning| %>
            <tbody>
              <tr>
                <td><%= learning.created_at.strftime("%Y/%m/%d") %></td>
                <td><%= learning.manual.genre.name %></td>
                <td>
                  <%= link_to public_manual_path(learning.manual.id), data: {"turbolinks" => false} do %>
                    <%= learning.manual.task_name %>
                  <% end %>
              </tr>
            </tbody>
          <% end %>
        </table>

      </div>
    </div>
  </div>
</section>
