<!DOCTYPE html>
<html>
  <head>
    <title>楽ま～にゅ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-danger">
        <P class ="alert"><%= alert %></P>
      </div>
    <% end %>

    <nav class="navbar">
      <div class="nafvbar-brand">
        <%= link_to root_path do %>
          <%= image_tag "raku_manu.png", :class => "img-logo" %>
        <% end %>
        <%= link_to "●", new_admin_session_path, class: "text-dark"  %>
        <!--<%= form_with url: public_manuals_path, local: true, method: :get do |f| %>-->
        <!--  <%= f.label :キーワード検索 %>-->
        <!--  <%= f.text_field :keyword %>-->
        <!--  <%= f.submit "検索" %>-->
        <!--<% end %>-->
        <!--<%= form_with url: public_manuals_path, local: true, method: :get do |f| %>-->
        <!--  <%= f.label :登録ジャンルから検索 %>-->
        <!--  <%= f.select :keyword, Genre.all.map { |genre| [genre.name, genre.name] } %>-->
        <!--  <%= f.submit "検索" %>-->
        <!--<% end %>-->
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <% if employee_signed_in? %>
        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <!--<p class="control">-->
                <!--  <%= link_to 'アバウト', public_about_path, class: 'navbar-item text-dark' %>-->
                <!--</p>-->
                <p class="control">
                  <%= link_to 'マイページ', public_employee_path(current_employee.id), class: 'navbar-item' %>
                </p>
                <p class="control">
                  <%= link_to 'マニュアル一覧', public_manuals_path, class: 'navbar-item text-dark' %>
                </p>
                <p class="control">
                  <%= link_to "質問一覧", public_comments_path, class: "navbar-item text-dark" %>
                </p>
                <p class="control">
                  <%= link_to "ログアウト", destroy_employee_session_path, method: :delete, class: "navbar-item text-dark" %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% elsif admin_signed_in? %>
        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <%= link_to 'ジャンル一覧', admin_genres_path, class: 'navbar-item' %>
                </p>
                <p class="control">
                  <%= link_to 'マニュアル一覧', admin_manuals_path, class: 'navbar-item text-dark' %>
                </p>
                <p class="control">
                  <%= link_to "従業員一覧", admin_employees_path, class: "navbar-item text-dark" %>
                </p>
                <p class="control">
                  <%= link_to "質問一覧", admin_comments_path, class: "navbar-item text-dark" %>
                </p>

                <p class="control">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "navbar-item text-dark" %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <!--<p class="control">-->
                <!--  <%= link_to 'アバウト', public_about_path, class: 'navbar-item text-dark' %>-->
                <!--</p>-->
                <p class="control">
                  <%= link_to 'マニュアル一覧', public_manuals_path, class: 'navbar-item text-dark' %>
                </p>
                <p class="control">
                  <%= link_to "ログイン", new_employee_session_path, class: 'navbar-item text-dark' %>
                </p>
                <p class="control">
                  <%= link_to "新規登録", new_employee_registration_path, class: 'navbar-item text-dark' %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </nav>
    <%= yield %>
  </body>
</html>
