<!DOCTYPE html>
<html>
  <head>
    <title>楽ま～にゅ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="notification is-danger">
        <P class ="alert"><%= alert %></P>
      </div>
    <% end %>

    <nav class="navbar is-size-7-mobile", role="navigation", aria-label="main navigation">
        <div class="nafvbar-brand">
          <%= link_to root_path, data: {"turbolinks" => false} do %>
            <%= image_tag "raku_manu.png", :class => "img-logo" %>
          <% end %>
        </div>

        <a class="navbar-burger navbar-end", data-target="menu", role="button", aria-label="menu", aria-expanded="false">
          <span aria-hiddun="true"></span>
          <span aria-hiddun="true"></span>
          <span aria-hiddun="true"></span>
        </a>

        <% if employee_signed_in? %>
        <div id="menu" class="navbar-menu is-size-7-mobile">

          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable navbar-end">
              <p class="navbar-link">
                メニュー
              </p>
              <div class="navbar-dropdown">
                <p class="navbar-item">
                <%= link_to 'マイページ', employee_path(current_employee.id), class: 'navbar-item', data: {"turbolinks" => false} %>
                </p>
                <p class="navbar-item">
                  <%= link_to 'マニュアル一覧', manuals_path, class: 'navbar-item text-dark', data: {"turbolinks" => false} %>
                </p>
                <p class="navbar-item">
                  <%= link_to "質問一覧", comments_path, class: "navbar-item text-dark", data: {"turbolinks" => false} %>
                </p>
                <hr class="navbar-divider">
                <p class="navbar-item">
                  <%= link_to "ログアウト", destroy_employee_session_path, method: :delete, class: "navbar-item text-dark", data: {"turbolinks" => false} %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <% elsif admin_signed_in? %>
        <div id="menu" class="navbar-menu is-size-7-mobile">
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <p class="navbar-link">
                メニュー
              </p>
              <div class="navbar-dropdown is-size-7-mobile">
                <p class="navbar-item">
                  <%= link_to '業務一覧', admin_genres_path, class: 'navbar-item', data: {"turbolinks" => false} %>
                </p>
                <p class="navbar-item">
                  <%= link_to 'マニュアル一覧', admin_manuals_path, class: 'navbar-item text-dark', data: {"turbolinks" => false} %>
                </p>
                <p class="navbar-item">
                  <%= link_to "従業員一覧", admin_employees_path, class: "navbar-item text-dark", data: {"turbolinks" => false} %>
                </p>
                <hr class="navbar-divider">
                <p class="navbar-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "navbar-item text-dark", data: {"turbolinks" => false}%>
                </p>
              </div>
            </div>
          </div>
        </div>
        <% else %>
        <div id="menu" class="navbar-menu is-size-7-mobile">
          <div class="navbar-end">
            <p class="navbar-item">
              <%= link_to new_admin_session_path, class: "button is-link is-outlined mr-2 mb-2", data: {"turbolinks" => false} do %>
                <span class="icon">
                  <i class="fa fa-user"></i>
                </span>
                <span>管理者ログイン（テスト閲覧用）</span>
              <% end %>
              <%= link_to employee_guest_sign_in_path, method: :post, class: "button is-warning is-outlined", data: {"turbolinks" => false} do %>
                <span class="icon">
                  <i class="fa fa-user"></i>
                </span>
                <span>従業員ゲストログイン（閲覧用）</span>
              <% end %>
            </p>
            <div class="navbar-item has-dropdown is-hoverable">
              <p class="navbar-link">
                メニュー
              </p>
              <div class="navbar-dropdown">
                <p class="navbar-item">
                  <%= link_to 'マニュアル一覧', manuals_path, class: 'navbar-item text-dark', data: {"turbolinks" => false} %>
              </p>
                <p class="navbar-item">
                  <%= link_to "ログイン", new_employee_session_path, class: 'navbar-item text-dark', data: {"turbolinks" => false} %>
                </p>
                <p class="navbar-item">
                  <%= link_to "新規登録", new_employee_registration_path, class: 'navbar-item text-dark', data: {"turbolinks" => false} %>
                </p>
              </div>
            </div>
          </div>
        </div>
        <% end %>

    </nav>
    <%= yield %>

  </body>
</html>
